/* Universal styling */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
body{
  background-color: white;
}
body::-webkit-scrollbar {
  display: none;
}
#app {
  font-family: "Bungee Inline", sans-serif;
  color: #359D58;
}
#background{
    background-image: url('https://itz-marcus.github.io/ecom-img-hosting/Backdrop.png');
    width: 100vw;
    height:fit-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav */
#navbar {
    display: flex;
    align-items: center;
    background-image: url('https://itz-marcus.github.io/ecom-img-hosting/Banner_logo.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 10vw; 
    width: 100vw;
    z-index: 2;
    justify-content:space-between;
    
  }
  
  #nav1 {
    display: flex;
    gap: 20px;
    padding: 20px; 
  }
  #nav2 {
    display: flex;
    gap: 20px;
    padding: 20px; /* Adjust padding as needed */
  }
  #nav1 #nav-part{
    padding-left: 1vw;
  }
  #nav2 #nav-part{
    padding-right: 1vw;
  }
  nav a {
    font-weight: bold;
    color: #359D58;
    transition: 0.2s;
    text-decoration: none;
    font-size: 1.5vw;
  }
  
  nav a.router-link-exact-active {
    color: #FFB84E;
  }
  i:hover{
    font-size: 2.5vw;
    transition: 0.3s;
  }
/* home */
h1{
    width: 20px;
}
#controller{
  background-color: #000000 !important;
  border-radius: 100px;
}
#controller-space{
  width: 8vw;
}
#c_1{
  background-image:url('https://itz-marcus.github.io/ecom-img-hosting/ad_background.png');
  background-size: contain;
}
#c_2{
  background-image:url('https://itz-marcus.github.io/ecom-img-hosting/ad_background.png');
  background-size: contain;
}
#ad-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 13vw;
  left: 1.5vw;
  width: 40vw;
}
#ad-title{
  color: rgb(255, 255, 255);
  font-size: 1.3vw;
  margin-left: 8.5vw;
  margin-bottom: 0vw;
}
#btn {
    margin-left: 8.5vw;
    margin-top: 1.5vw;
    padding: 0.7vw 2vw;
    background: none;
    border: 2px solid #fff;
    font-size: 1vw;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: transparent;
    font-weight: bolder;
   
   }
   
   #btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   #btn:hover {
    background-color: #359D58;
    color: #fff;
   }
   
   #btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   #btn:active {
    transform: scale(0.9);
   }
   #other_prod{
    background-color: white;
    height: 27vw;
  }
   #other_prod h1{
    font-size: 1.7vw;
    padding-top: 1vw;
    width: fit-content;
    text-align: center;
  }
  #products{
    object-fit: contain;
    width: 13vw;
    margin: 2vw;
    transition: 0.3s;
  }
  #products:hover{
    object-fit: contain;
    width: 14vw;
  }
/* about */
#heading1{
  color: white;
  width: 30vw;
  font-size: 3.5vw;
  padding-top: 1vw;
}
#heading2{
  padding-top: 1vw;
  color: white;
  width: 30vw;
  font-size: 3.5vw;
}
#desc1{
  color: white;
  font-size: 1.7vw;
  display: flex;
  flex-direction: column;
  width: 53vw;

}
#desc2{
  color: white;
  font-size: 1.7vw;
  width: 53vw;
}
#about_info{
  display: flex;
  flex-direction: column;
}
#about_img{
  padding-top: 10vw ;
  object-fit: contain;
  width: 27vw;
}
#reviews{
  height: 10vw;
  background-color: white;
}
#reviews h1{
  padding-top:3vw;
  width: fit-content;
  font-size: 3vw;
}
#re_image{
  object-fit: contain;
  width: 100vw;
}
/* contact */
#body{
  height: 78vh;
}
#contact_form{
  
  background-color: white;
}


